    ul {
    padding-left: 20px;
        }
        body {
            margin: 0;
            padding: 10px;
        }
        main {
            max-width: 0;
            margin: 0 auto;
        }
        p {
            color:black;
            margin-top: 0px;
            margin-bottom: 0px;
        }   

        #profile-photo {
            border-radius: 50%;
        }

        .paragraph-red {
            color: red;
        }
        