/* .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f;
    height: 400px;
}
.item1 {
    background-color: blue;
}
.item2 { 
    align-self: flex-end;
}
*/


.header {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f1f1;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    background-color: #f1f111;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*
    height: 400px; 
    row-gap: 10px;
    column-gap: 10px;
    gap: 10px;
    */
    gap: 10px;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
}